<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cityant.main">


    <!-- 统计所用到的权限 start -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 环信用到的权限start-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- GCM required, remember replace "com.hyphenate.chatuidemo" to your own package-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE" />

    <permission
        android:name="com.hyphenate.chatuidemo.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hyphenate.chatuidemo.permission.MIPUSH_RECEIVE" />
    <!-- 环信用到的权限end-->


    <application
        android:name="com.cityant.main.global.MYApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        tools:replace="name"
        android:theme="@style/AppTheme">
        <!-- 欢迎页面 -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- umeng  start -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="570f778de0f55a9f4b002608"></meta-data>

        <!-- value 为渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"></meta-data>
        <!-- umeng end -->

        <!--&lt;!&ndash;&lt;!&ndash; baidu 统计 start &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<meta-data&ndash;&gt;-->
        <!--&lt;!&ndash;android:name="BaiduMobAd_STAT_ID"&ndash;&gt;-->
        <!--&lt;!&ndash;android:value="7c18b16376" />&ndash;&gt;-->
        <!--&lt;!&ndash; 渠道商编号 &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="BaiduMobAd_CHANNEL"-->
        <!--android:value="Umeng" />-->

        <!--&lt;!&ndash; 是否开启错误日志统计，默认为false &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="BaiduMobAd_EXCEPTION_LOG"-->
        <!--android:value="true" />-->
        <!--&lt;!&ndash; 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="BaiduMobAd_SEND_STRATEGY"-->
        <!--android:value="APP_START" />-->
        <!--&lt;!&ndash; 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 &ndash;&gt;-->
        <!--&lt;!&ndash; <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" />  &ndash;&gt;-->
        <!--&lt;!&ndash; 日志仅在wifi网络下发送，默认为false &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="BaiduMobAd_ONLY_WIFI"-->
        <!--android:value="false" />-->
        <!--&lt;!&ndash; 是否获取基站位置信息 ,默认为true&ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="BaiduMobAd_CELL_LOCATION"-->
        <!--android:value="true" />-->
        <!--&lt;!&ndash; 是否获取GPS位置信息，默认为true &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="BaiduMobAd_GPS_LOCATION"-->
        <!--android:value="true" />-->
        <!--&lt;!&ndash; 是否获取WIFI位置信息，默认为true &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="BaiduMobAd_WIFI_LOCATION"-->
        <!--android:value="true" />-->
        <!--&lt;!&ndash; baidu 统计 end &ndash;&gt;-->

        <!-- tabhost -->
        <activity
            android:name=".activity.IndexFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 登陆 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 绑定手机号 -->
        <activity
            android:name=".activity.BindingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <!-- 新用户注册 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 忘记密码 -->
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 位置选择 -->
        <activity
            android:name=".activity.LocationChoiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 搜索页面 -->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 做任务页面 -->
        <activity
            android:name=".activity.DoTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 个人中心 -->
        <activity
            android:name=".activity.UserinfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 今日收益 -->
        <activity
            android:name=".activity.TodayReseiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <!-- 钱包 -->
        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 蚂蚁仓库 -->
        <activity
            android:name=".activity.StorehouseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!-- 商品提出 -->
        <activity
            android:name=".activity.GoodsPutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--查看物流 -->
        <activity
            android:name=".activity.LogisticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--商品卖出-->
        <activity
            android:name=".activity.GoodsSellActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--蚂蚁豆-->
        <activity
            android:name=".activity.MYBeanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--蚂蚁豆充值-->
        <activity
            android:name=".activity.MYBeanTopUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--蚂蚁豆卖出-->
        <activity
            android:name=".activity.MYBeanSellActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--创建-->
        <activity
            android:name=".activity.CreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--报名等待-->
        <activity
            android:name=".activity.SingupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--确认完结-->
        <activity
            android:name=".activity.FinishedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--待评价-->
        <activity
            android:name=".activity.JudgeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--蚂蚁猜-->
        <activity
            android:name=".activity.GuessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--有情购-->
        <activity
            android:name=".activity.ShoppingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--竞技活动-->
        <activity
            android:name=".activity.SportsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--认证中心-->
        <activity
            android:name=".activity.CertifyCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--累计评价-->
        <activity
            android:name=".activity.RankActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--意见反馈-->
        <activity
            android:name=".activity.IdeaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--设置-->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--主页详情-->
        <activity
            android:name=".activity.HomeDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden|stateAlwaysHidden"></activity>
        <!--消息通知-->
        <activity
            android:name=".activity.MessageNotifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--创建需求详情-->
        <activity
            android:name=".activity.CreateDemandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--创建友请购-->
        <activity
            android:name=".activity.CreateFriendshipActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--创建蚂蚁猜-->
        <activity
            android:name=".activity.CreateAntGuessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--创建小额抢-->
        <activity
            android:name=".activity.CreateSmallGrabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--黑名单-->
        <activity
            android:name=".activity.BlacklistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--账户安全-->
        <activity
            android:name=".activity.AccountSecurityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--通讯录-->
        <activity
            android:name=".activity.MyFrendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--聊天-->
        <activity
            android:name=".activity.MYChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!--我的群聊-->
        <activity
            android:name=".activity.MeCrowdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--我的品牌-->
        <activity
            android:name=".activity.MeBrandsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--我的新朋友-->
        <activity
            android:name=".activity.NewFrendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--发起小额抢的类型-->
        <activity
            android:name=".activity.CreateSmallGrabTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--发起小额抢的类型-->
        <activity
            android:name=".activity.CreateSmallGrabTypeChooseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <!--添加好友-->
        <activity
            android:name=".activity.AddFrendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>


        <activity
            android:name="com.hyphenate.chatuidemo.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <!-- 开屏页 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- 登陆 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateVisible"></activity>

        <!-- 注册 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateVisible"></activity>
        <!-- 聊天页面 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!-- 添加好友 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>
        <!-- 群组详情 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 群组列表 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <!-- 聊天室详情 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ChatRoomDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <!-- 新建群组 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.NewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 退出群组提示框 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"></activity>
        <!-- 群组选人 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="com.hyphenate.chatuidemo.ui.PickAtUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 转发消息用户列表页面 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ForwardMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 自定义的contextmenu -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 黑名单 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.BlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <!-- 公开的群聊列表 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="com.hyphenate.chatuidemo.ui.PublicChatRoomsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <!-- 语音通话 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.VoiceCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/nornal_style"></activity>
        <!-- 视频通话 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 群聊简单信息 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupSimpleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 群组黑名单用户列表 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupBlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupSearchMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>

        <activity
            android:name="com.hyphenate.chatuidemo.ui.PublicGroupsSeachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- choose video -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- upload error log -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!-- iOS offline push nick -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.OfflinePushNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- robots list -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.RobotsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- user profile -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <!--红包相关Activity start-->
        <!--&lt;!&ndash;发红包&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.easemob.redpacketui.ui.activity.RPRedPacketActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/horizontal_slide"-->
        <!--android:windowSoftInputMode="adjustPan|stateVisible"-->
        <!--/>-->
        <!--&lt;!&ndash;红包详情&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.easemob.redpacketui.ui.activity.RPDetailActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/horizontal_slide"-->
        <!--android:windowSoftInputMode="adjustPan"-->
        <!--/>-->
        <!--&lt;!&ndash;红包记录&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.easemob.redpacketui.ui.activity.RPRecordActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/horizontal_slide"-->
        <!--android:windowSoftInputMode="adjustPan"-->
        <!--/>-->
        <!--&lt;!&ndash;WebView相关&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.easemob.redpacketui.ui.activity.RPWebViewActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/horizontal_slide"-->
        <!--android:windowSoftInputMode="adjustResize|stateHidden"-->
        <!--/>-->
        <!--&lt;!&ndash;零钱&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.easemob.redpacketui.ui.activity.RPChangeActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/horizontal_slide"-->
        <!--android:windowSoftInputMode="adjustResize|stateHidden"-->
        <!--/>-->
        <!--&lt;!&ndash;绑定银行卡&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.easemob.redpacketui.ui.activity.RPBankCardActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/horizontal_slide"-->
        <!--android:windowSoftInputMode="adjustPan|stateHidden"-->
        <!--/>-->
        <!--&lt;!&ndash;群成员列表页&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.easemob.redpacketui.ui.activity.RPGroupMemberActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/horizontal_slide"-->
        <!--android:windowSoftInputMode="adjustPan|stateHidden"-->
        <!--/>-->
        <!--&lt;!&ndash;支付宝h5支付页面&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.alipay.sdk.app.H5PayActivity"-->
        <!--android:configChanges="orientation|keyboardHidden|navigation|screenSize"-->
        <!--android:exported="false"-->
        <!--android:screenOrientation="behind"-->
        <!--android:windowSoftInputMode="adjustResize|stateHidden"-->
        <!--/>-->
        <!--&lt;!&ndash;红包相关Activity end&ndash;&gt;-->


        <!-- 开机自启动服务 -->
        <receiver android:name="com.hyphenate.chatuidemo.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- gcm start -->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.hyphenate.chatuidemo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hyphenate.chat.EMGCMListenerService"
            android:exported="false"></service>

        <receiver
            android:name="com.hyphenate.chatuidemo.receiver.GCMPushBroadCast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hyphenate.sdk.push" />
                <category android:name="com.hyphenate.chatuidemo" />
            </intent-filter>
        </receiver>
        <!-- gcm end -->

        <!-- mi push -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- mi push end -->

        <!-- huawei push 第三方相关 :接收Push消息（注册、Push消息、Push连接状态、标签，LBS上报结果）广播  -->
        <receiver android:name="com.hyphenate.chat.EMHuaweiPushReceiver">
            <intent-filter>
                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>
            />
            <meta-data
                android:name="CS_cloud_ablitity"
                android:value="successRateAnalytics" />
        </receiver>

        <!-- PushSDK:PushSDK接收外部请求事件入口-->
        <receiver
            android:name="com.huawei.android.pushagent.PushEventReceiver"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL" />
                <action android:name="com.huawei.intent.action.PUSH" />
                <action android:name="com.huawei.intent.action.PUSH_ON" />
                <action android:name="com.huawei.android.push.PLUGIN" />
            </intent-filter>
        </receiver>

        <!-- PushSDK:Push服务-->
        <service
            android:name="com.huawei.android.pushagent.PushService"
            android:process=":pushservice"></service>

        <!-- huawei push end -->

        <!--<service-->
        <!--android:name="com.umeng.update.net.DownloadingService"-->
        <!--android:process=":DownloadingService" >-->
        <!--</service>-->
        <!--<activity-->
        <!--android:name="com.umeng.update.UpdateDialogActivity"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" >-->
        <!--</activity>-->

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="30000000#cityant" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!--<meta-data android:value="hyphenate" android:name="UMENG_CHANNEL"/>-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <!--&lt;!&ndash; 设置环信应用的AppKey &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="EASEMOB_APPKEY"-->
        <!--android:value="30000000#cityant" />-->
        <!--&lt;!&ndash; 声明SDK所需的service SDK核心功能&ndash;&gt;-->
        <!--<service-->
        <!--android:name="com.hyphenate.chat.EMChatService"-->
        <!--android:exported="true" />-->
        <!--&lt;!&ndash; 声明SDK所需的receiver &ndash;&gt;-->
        <!--<receiver android:name="com.hyphenate.chat.EMMonitorReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
        <!--<data android:scheme="package" />-->
        <!--</intent-filter>-->
        <!--&lt;!&ndash; 可选filter &ndash;&gt;-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--<action android:name="android.intent.action.USER_PRESENT" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--查看大图-->
        <activity
            android:name="com.iloomo.ui.PViewPagerPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

        </activity>
        <!--相机-->
        <activity
            android:name="com.iloomo.ui.PCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--相册-->
        <activity
            android:name="com.iloomo.ui.PMyPhoto"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--修改用户名-->
        <activity
            android:name=".activity.UpdateUserName"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--我的二维码-->
        <activity
            android:name=".activity.UserCodeInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--我的地址-->
        <activity
            android:name=".activity.UserAddressInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--与我相关-->
        <activity
            android:name=".activity.knock.RelatedMeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--部落详情-->
        <activity
            android:name=".activity.knock.TribeDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--部落关注列表-->
        <activity
            android:name=".activity.knock.TribeFollowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--发工资-->
        <activity
            android:name=".activity.knock.TheWageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--抢详情-->
        <activity
            android:name=".activity.knock.KonckDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!--扫描二维码-->
        <activity
            android:name=".zxing.MipcaActivityCapture"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    </application>

</manifest>
